@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h4 {
  font-family: 'Montserrat';
  font-weight: 400;
}

/* NavBar---------------------*/
.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  padding: 5px;
  width:100%;
}

.nav-links a {
  color:#309898;
  font-weight: 400;
  justify-content: right;
  margin-right: 20px; 
  padding: 15px;
  text-decoration: none;
}

nav a.active {
  background-color:#f7f7f7;
  border-radius: 8px;
}

.logo {
  margin: 3px 0px 0px 10px;
  width: 175px;
}

/* Footer --- strech goal*/
/* hr {
  display: block;
  height: 30px;
  border: 0;
  border-top: 1px solid #309898;
  margin: 300px 100px 100px 100px;
} */

/* Home -----------------------------*/
.header {
  color: #363636;
  font-size: 45px;
  font-weight: 400;
  text-align: center;
}

.sub-head {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

.center-bttn {
  text-align: center;
}

.infographic {
  display: block;
  margin: auto;
  margin-bottom: 80px;
  width: 975px
}

.feature-head {
  color: #363636;
  font-size: 45px;
  font-weight: 300;
  text-align: center;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 60px;
  margin: 175px;
  margin-top: 20px;
  place-items: center;
}

.feature {
  text-align: center;
}


/* signin / signup / bookform ----------------*/
.form-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  width: 260px;
}

.bookform {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 200px;
}

.form-block {
  border-radius: 4px;
  display: block;
  margin: auto;
  margin-bottom: 50px;
  width: 375px;
  border: 2px solid #309898;
  padding: 10px 50px;
}

.line-link {
  color:#3329aa;
  cursor: pointer;
  text-decoration: underline;
}

::placeholder {
  color:#3f3f3f;
}

.input {
  font-family: 'Montserrat';
  width: 100%;
  padding: 12px 12px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #3f3f3f;
  box-sizing: border-box;
  border: 1px solid #ccc;
  outline:none;
}

.input:focus {
  border: 2px solid #309898;
}

/* review forms ------------------------*/

.form-block-r {
  border: 2px solid #309898;
  border-radius: 4px;
  padding: 15px;
  margin: 28px 20px 20px 0px;
}

.form-block-r-b{
  border: 2px solid #309898;
  border-radius: 4px;
  padding: 15px;
  margin: 0px 20px 20px 0px;
}

.rev-block {
  background-color: #f9f9f9;
  border: 2px solid #f9f9f9;
  border-radius: 4px;
  padding: 15px;
  margin: 20px 20px 20px 0px;
}

.err {
  color: #000000;
}

/* book review page --------------------------*/
.rev-grid {
  display: grid;
  grid-template-columns: 1.2fr 2.1fr;
  grid-template-rows: 1fr;
  gap: 0px 15px;
  grid-auto-flow: row;
  grid-template-areas:
    "book-container rev-container";
}

.book-con {
  grid-area: book-container;
  margin: auto;
  margin-top: 100px;
}

.rev-con {
  grid-area: rev-container;
  margin: auto;
  margin-top: 75px;
  width: 100%;
}

.rev-header {
  font-size: 25px;
  font-weight: 400;
  text-align: left;
}

.book-img {
  border-radius: 5px;
  width: 300px;
}

.add-rev-bttn {
  background-color: #309898;
  border: none;
  border-radius: 6px;
  color: white;
  display: inline-block;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  width: 140px;
  height: 40px;
  vertical-align: auto;
}

.add-rev-bttn:hover {
  background-color: rgb(237, 236, 236);
  color: #309898;
  cursor: pointer;
  font-weight: 400;
  transition: .8s;
}

.rev-bttn {
  background-color: #edecec;
  border: none;
  border-radius: 6px;
  color: #309898;
  display: inline;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 12px;
  margin: 5px;
  position: flex;
  width: 60px;
  height: 25px;
}
  
.rev-bttn:hover {
  background-color: #309898;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  transition: .8s;
}

/* ///Buttons///-------------------- */
.bttn{
  background-color: #309898;
  border: none;
  border-radius: 6px;
  color: white;
  display: inline;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  
  width: 125px;
  height: 38px;
}

.bttn:hover {
  background-color: rgb(237, 236, 236);
  color:#309898;
  cursor: pointer;
  font-weight: 400;
  transition: .8s;
}

.bttn-flip {
  background-color: #edecec;
  border: none;
  border-radius: 6px;
  color:#309898;
  display: inline-block;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 15px;
  /* position: flex; */
  margin-left: 15px;
  margin-right: 15px;
  width: 120px;
  height: 38px;
}

.bttn-flip:hover {
  background-color:#309898;
  color:#fff;
  cursor: pointer;
  font-weight: 600;
  transition: .8s;
}


/* Bookshelf ---------------------- */
.book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
}

/* book card */
.card-img {
  border-radius: 30px;
  max-height: 225px;
  padding: 30px;
  width: 150px;
}

.card-img:hover {
  cursor: pointer;
}

/* shelfieshare ------------------------*/
.shelf-img {
  border-radius: 3px;
  width: 100%;
}

.card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  width: 25%;
  transition: transform .7s;
}

.card:hover {
  -webkit-transform: scale(1.5);/* Safari 3-8 */
  transform: scale(1.5);
}

.container {
  padding: 2px 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.user {
  font-weight:300;
}

/* myshelfie------------------------ */

.shelf-container {
  display: grid;
  grid-template-columns: 1.2fr 2.1fr;
  grid-template-rows: 1fr;
  gap: 0px 15px;
  grid-auto-flow: row;
  grid-template-areas:
    "my_account my_books";
  place-items: center;
}

.my_books {
  grid-area: my_books;
  margin-top: 100px;
}

.shelf-head {
  font-size: 40px;
  font-weight: 300;
  margin: 10px;
  text-align: center;
}

.my-shelfie {
  display:block;
  margin: auto;
  padding: 20px;
  width: 300px;
}

.my_account {
  grid-area: my_account;
  margin: 50px;
}

.shelf-txt {
  margin: 30px;
}

.shelf-input {
  font-family: 'Montserrat';
  width: 90%;
  padding: 12px 12px;
  margin: auto;
  margin: 30px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  outline: none;
}

.shelf-input:focus {
  border: 2px solid #309898;
}

.shelf-bttn {
  background-color: #309898;
  border: none;
  border-radius: 6px;
  color: white;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  margin-left: 30px;
  width: 135px;
  height: 38px;
}

.shelf-bttn:hover {
  background-color: rgb(237, 236, 236);
  color: #309898;
  cursor: pointer;
  font-weight: 400;
  transition: .8s;
}

.shelf-bttn-flip {
  align-items: center;
  background-color: #edecec;
  border: none;
  border-radius: 6px;
  color: #309898;
  display: flex;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 15px;
  margin: 40px;
  /* justify-content: center; */
  width: 135px;
  height: 38px;
}

.shelf-bttn-flip:hover {
  background-color: #309898;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  transition: .8s;
}

.book-scroll {
  background-color: #edecec;
  border-radius: 5px;
  height: 580px;
  overflow:auto;
  margin: 50px;
  width: 700px;
}

/* confirm------------------ */
.confirm-block {
  border-radius: 4px;
  display: block;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 50px;
  width: 375px;
  border: 2px solid #309898;
  padding: 10px 50px;
}

.bttn {
  background-color: #309898;
  border: none;
  border-radius: 6px;
  color: white;
  display: inline;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  justify-content: center;
  width: 125px;
  height: 38px;
}

.bttn:hover {
  background-color: rgb(237, 236, 236);
  color: #309898;
  cursor: pointer;
  font-weight: 400;
  transition: .8s;
}

.bttn-flip {
  align-items: center;
  background-color: #edecec;
  border: none;
  border-radius: 6px;
  color: #309898;
  display: inline-block;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 15px;
  margin-left: 15px;
  width: 120px;
  height: 38px;
}

.bttn-flip:hover {
  background-color: #309898;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  transition: .8s;
}

/* -------------------------------- */
.img {
  width: 200px;
  height: 150px;
  margin: 20px;
}



