@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h4 {
  font-family: 'Montserrat';
  font-weight: 400;
}

/* NavBar*/
.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.nav-links a {
  color:#309898;
  /* font-size: 15px; */
  font-weight: 400;
  margin: 20px;
  padding: 10px;
  text-decoration: none;
}

nav a.active {
  background-color:#f7f7f7;
  border-radius: 8px;
}

/* LOGO */
.logo {
  margin: 0px 0px 0px 10px;
  width: 175px;
}

/* Footer */

hr {
  display: block;
  height: 30px;
  border: 0;
  border-top: 1px solid #309898;
  margin: 300px 100px 100px 100px;
  
}

/* NAVBAR MENU */
.menu {
  display: flex;
  font-size: 18px;
  gap: 1em;
}

.menu li {
  padding: 5px 14px;
}

/* Home ----------------------*/
.header {
  color: #363636;
  font-size: 45px;
  font-weight: 400;
  text-align: center;
}

.sub-head {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

.center-bttn {
  text-align: center;
}

.infographic {
  display: block;
  margin: auto;
  margin-bottom: 80px;
  width: 1000px
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 60px;
  margin: 175px;
  margin-top: 20px;
  place-items: center;
}


/* signin / signup / bookform ----------------*/
.form-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  width: 260px;
}

.bookform {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 200px;
}

.form-block {
  border-radius: 4px;
  display: block;
  margin: auto;
  margin-bottom: 50px;
  width: 375px;
  border: 2px solid #309898;
  padding: 10px 50px;
}

.line-link {
  color:#3329aa;
  cursor: pointer;
  text-decoration: underline;
}

::placeholder {
  color:#3f3f3f;
}

.input {
  font-family: 'Montserrat';
  width: 100%;
  padding: 12px 12px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #3f3f3f;
  box-sizing: border-box;
  border: 1px solid #ccc;
  outline:none;
}

.input:focus {
  border: 2px solid #309898;
}

/* review forms ----------------------*/

.form-block-r {
  border: 2px solid #309898;
  border-radius: 4px;
  padding: 15px;
  margin: 28px 20px 20px 0px;
}

.form-block-r-b{
  border: 2px solid #309898;
  border-radius: 4px;
  padding: 15px;
  margin: 0px 20px 20px 0px;
}

.rev-block {
  background-color: #f9f9f9;
  border: 2px solid #f9f9f9;
  border-radius: 4px;
  padding: 15px;
  margin: 20px 20px 20px 0px;
}

.err {
  color: #000000;
}

/* book review page --------------------------*/
.rev-grid {
  display: grid;
  grid-template-columns: 1.2fr 2.1fr;
  grid-template-rows: 1fr;
  gap: 0px 15px;
  grid-auto-flow: row;
  grid-template-areas:
    "book-container rev-container";
}

.book-con {
  grid-area: book-container;
  margin: auto;
  margin-top: 100px;
}

.rev-con {
  grid-area: rev-container;
  margin: auto;
  margin-top: 75px;
  width: 100%;
}

.rev-header {
  font-size: 25px;
  font-weight: 400;
  text-align: left;
}

.book-img {
  border-radius: 5px;
  width: 300px;
}

.add-rev-bttn {
  background-color: #309898;
  border: none;
  border-radius: 6px;
  color: white;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  width: 140px;
  height: 40px;
  vertical-align: auto;
}

.add-rev-bttn:hover {
  background-color: rgb(237, 236, 236);
  color: #309898;
  cursor: pointer;
  font-weight: 400;
  transition: .8s;
}

.rev-bttn {
  background-color: #edecec;
  border: none;
  border-radius: 6px;
  color: #309898;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 12px;
  margin: 5px;
  position: flex;
  width: 60px;
  height: 25px;
}
  
.rev-bttn:hover {
  background-color: #309898;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  transition: .8s;
}

/* ///Buttons///-------------------- */
.bttn{
  background-color: #309898;
  border: none;
  border-radius: 6px;
  color: white;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  width: 120px;
  height: 38px;
}

.bttn:hover {
  background-color: rgb(237, 236, 236);
  color:#309898;
  cursor: pointer;
  font-weight: 400;
  transition: .8s;
}

.bttn-flip {
  background-color: #edecec;
  border: none;
  border-radius: 6px;
  color:#309898;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 15px;
  /* position: flex; */
  width: 120px;
  height: 38px;
}

.bttn-flip:hover {
  background-color:#309898;
  color:#fff;
  cursor: pointer;
  font-weight: 600;
  transition: .8s;
}


/* Bookshelf and shelfieshare ----------- */
.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
}

/* book card */
.card-img {
  border-radius: 30px;
  max-height: 225px;
  padding: 30px;
  width: 150px;
}

.card-img:hover {
  cursor: pointer;
}

/* shelfie card */
.shelf-img {
  border-radius: 30px;
  height: auto;
  padding: 30px;
  width: 200px;
}

.shelf-img:hover {
  transform: scale(2);
}

.img {
  width: 200px;
  height: 150px;
  margin: 20px;
}
